{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "semi": [
            "error",
            "always"
        ],
        "no-unexpected-multiline": "error",
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
        "object-curly-spacing": ["error", "always"],
        "eol-last": ["error", "always"],
        "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
        "@typescript-eslint/no-explicit-any": "error",
        "@typescript-eslint/no-misused-promises": ["error", { "checksVoidReturn": false }] }
}